In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pl
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import metrics

In [49]:
df=pd.read_csv('pinformation.csv')
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [50]:
xx=df[['age','sex','cp','trtbps','chol','fbs','restecg','thalachh','exng','oldpeak','slp','caa','thall']]
xx.head()
yy=df[['output']]
yy.head()

   output
0       1
1       1
2       1
3       1
4       1

In [51]:
x=xx.values
y=yy.values
scaler = preprocessing.StandardScaler().fit(x).transform(x.astype(float))

In [52]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=4)

In [53]:
neigh = KNeighborsClassifier(n_neighbors=10)
neigh.fit(x_train, y_train)
neigh

E:\Software\Anaconda\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=10)

In [54]:
yhat=neigh.predict(x_test)

In [59]:
print('accuracy_train sample:', metrics.accuracy_score(y_train, neigh.predict(x_train)))
print('accuracy_test sample:', metrics.accuracy_score(y_test, yhat))

accuracy_train sample: 0.7107438016528925
accuracy_test sample: 0.6885245901639344